<div class="top-menu">
  <div class="menu-link" routerLinkActive="active" [routerLink]="['/top']">
    <div class="menu-link-text">Top Games</div>
  </div>
  <div class="menu-link" routerLinkActive="active" [routerLink]="['/new']">
    <div class="menu-link-text">New Games</div>
  </div>
  <div class="menu-link" routerLinkActive="active" [routerLink]="['/slots']">
    <div class="menu-link-text">Slots</div>
  </div>
  <div class="menu-link" routerLinkActive="active" [routerLink]="['/jackpots']">
    <div class="menu-link-text">Jackpots</div>
  </div>
  <div class="menu-link" routerLinkActive="active" [routerLink]="['/live']">
    <div class="menu-link-text">Live</div>
  </div>
  <div class="menu-link" routerLinkActive="active" [routerLink]="['/blackjack']">
    <div class="menu-link-text">Blackjack</div>
  </div>
  <div class="menu-link" routerLinkActive="active" [routerLink]="['/roulette']">
    <div class="menu-link-text">Roulette</div>
  </div>
  <div class="menu-link" routerLinkActive="active" [routerLink]="['/table']">
    <div class="menu-link-text">Table</div>
  </div>
  <div class="menu-link" routerLinkActive="active" [routerLink]="['/poker']">
    <div class="menu-link-text">Poker</div>
  </div>
  <div class="menu-link" routerLinkActive="active" [routerLink]="['/other']">
    <div class="menu-link-text">Other</div>
  </div>
</div>
