<nav class="navbar navbar-expand-md navbar-dark navbar-container p-0">
  <button class="navbar-toggler" (click)="toggleNavbar()" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }" id="navbarNav">
    <ul class="navbar-nav">
      <li
        class="nav-item"
        routerLinkActive="active"
        (click)="activateLink()"
        [routerLink]="['/top']"
      >
        <a class="nav-link">Top games</a>
      </li>

      <li
        class="nav-item"
        routerLinkActive="active"
        (click)="activateLink()"
        [routerLink]="['/new']"
      >
        <a class="nav-link">New games</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        (click)="activateLink()"
        [routerLink]="['/slots']"
      >
        <a class="nav-link">Slots</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        (click)="activateLink()"
        [routerLink]="['/jackpots']"
      >
        <a class="nav-link">Jackpots</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        (click)="activateLink()"
        [routerLink]="['/live']"
      >
        <a class="nav-link">Live</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        (click)="activateLink()"
        [routerLink]="['/blackjack']"
      >
        <a class="nav-link">Blackjack</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        (click)="activateLink()"
        [routerLink]="['/roulette']"
      >
        <a class="nav-link">Roulette</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        (click)="activateLink()"
        [routerLink]="['/table']"
      >
        <a class="nav-link">Table</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        (click)="activateLink()"
        [routerLink]="['/poker']"
      >
        <a class="nav-link">Poker</a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        (click)="activateLink()"
        [routerLink]="['/other']"
      >
        <a class="nav-link">Other</a>
      </li>
    </ul>
  </div>
</nav>
