@import '../../../styles/colors';

.games-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 5px;
}

.game-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 10px;
}

@media screen and (max-width: 1600px) {
  .games-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1350px) {
  .games-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .games-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .games-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
