@import '../../../../styles/colors';

.game {
  text-align: center;
  position: relative;
  width: 250px;
  height: 155px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;

    .game-name {
      color: $dark;
    }
  }

  &:hover .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: $gray;
    opacity: 0.9;
    z-index: 1;
  }
}
